asgiref
channels
channels-redis
click
colorama
cssbeautifier
Django
djlint
EditorConfig
et-xmlfile
html-tag-names
html-void-elements
jsbeautifier
json5
msgpack
numpy
openpyxl
paho-mqtt
pandas
pathspec
pip
psycopg2
psycopg2-binary
python-dateutil
pytz
PyYAML
redis
regex
setuptools
six
sqlparse
tqdm
tzdata
wheel
xlwt
xlrd