{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/navasi2.css' %}">
    <link rel="stylesheet" href="{% static 'css/navasia.css' %}">
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--extras-->
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/826/826923.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <title>Listado de Vertientes</title>

    <!-- Agregamos estilos para la lista de vertientes -->
    <style>
       
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span class="hidro-tech">HidroTech</span>
        </div>
        <div class="navbar-center">
            <div class="admin-box">Vista Administrador</div>
        </div>
        <a href="{% url 'crud:index' %}" class="volverr">Volver</a>
        <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>

    <div class="vertical-bar">
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a href="{% url 'crud:select' %}">
                        <div class="icon-on-top">
                            <i class="fas fa-home"></i>
                        </div>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'crud:mapa_general' %}">
                        <div class="icon-on-top">
                            <i class="fas fa-map"></i>
                        </div>
                        <span>Mapa</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="icon-on-top">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <span>Gráficas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'crud:index' %}">
                        <div class="icon-on-top">
                            <i class="bi bi-kanban"></i>
                        </div>
                        <span>Gestión</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'eva:comuni' %}">
                        <div class="icon-on-top">
                            <i class="fas fa-users"></i>
                        </div>
                        <span>Comunidad</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tu código HTML reorganizado -->
    <div class="container-main">
        <!-- Ajusta la posición vertical de "Administración de Vertientes" -->
        <h1 class="main-heading">Administración de Vertientes</h1>
        <div class="button-row">
        <a href="{% url 'crud:newvert' %}" class="custom-button">
            <i class="bi bi-plus-circle"></i> Crear nueva Vertiente
        </a>
        <br> <!-- Salto de línea -->
        <a href="{% url 'nucleo:vertiente_massive_upload' %}" class="custom-button">
            <i class="bi bi-plus-circle"></i> Carga masiva Vertiente
        </a>
        </div>
        <!-- Ajusta la posición vertical de "Listado de Vertientes" -->
        <div class="vertientes-container">
            <div class="card-body">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th><div class="separador">Nombre</div></th>
                            <th><div class="separador">Descripción</div></th>
                            <th><div class="separador">Ubicación</div></th>
                            <th><div class="separador">Comunidad</div></th>
                            <th><div class="separador">Opciones</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Datos de vertientes -->
                        {% for objeto in listaVertiente %}
                        <tr>
                            
                            <td>{{ objeto.nombre }}</td>
                            <td>{{ objeto.desc }}</td>
                            <td>{{ objeto.ubicación }}</td>
                            <td>{{ objeto.comunidad }}</td>
                            <td>
                                <div class="button-container">
                                    <div class="col-lg-6">
                                        <label onclick="window.location.href='{% url 'crud:updatevert' objeto.id %}'" class="editar-button">Editar</label>
                                        {% if not objeto.is_staff %}
                                        <label for="showModal" onclick="openModal('{{ objeto.id }}')" class="eliminar-button">Eliminar</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <script>
        new DataTable('#example', {
            columnDefs: [
                { "orderable": false, "targets": 4 }
            ],
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    </script>

<!-- Todo para modal -->
<input type="checkbox" id="showModal" hidden>

<div class="modal-overlay">
    <div class="modal">
        <h2>¿Estás seguro de eliminar esta vertiente?</h2>
        <h2>{{ objeto.nombre }}</h2>
        <form id="deleteForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="vertiente_id" id="vertiente_id">
            <div class="modal-buttons">
                <label for="showModal" class="modal-button modal-button-secondary">Cancelar</label>
                <label type="button" id="eliminarVertiente" class="modal-button modal-button-danger">Eliminar</label>
            </div>
        </form>
    </div>
</div>

<script>
    // Función para abrir el modal y configurar el ID de la vertiente
    function openModal(vertienteId) {
        document.getElementById("vertiente_id").value = vertienteId;
    }

    // Manejar el clic en el botón "Eliminar" en el modal
    document.getElementById("eliminarVertiente").addEventListener("click", function() {
        const vertienteId = document.getElementById("vertiente_id").value;

        // Enviar una solicitud al servidor para eliminar la vertiente
        fetch(`/url_para_eliminar_vertiente/${vertienteId}/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value,
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Si la eliminación fue exitosa, redirige o actualiza la página según lo necesites
                window.location.reload(); // Actualiza la página en este ejemplo
            }
            // Cierra el modal
            document.getElementById("showModal").checked = false;
        })
        .catch(error => {
            console.error("Error al eliminar la vertiente: " + error);
            // Cierra el modal
            document.getElementById("showModal").checked = false;
        });
    });
</script>

</body>
</html>

<style>
    #example th:nth-child(5), #example td:nth-child(5) {
    text-align: center;
}
</style>