{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/comunidades.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Comunidad</title>

    
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="page1.html">Inicio</a></li>
            <li class="nav-item"><a href="#">Servicios</a></li>
            <li class="nav-item"><a href="#">Acerca de</a></li>
            <li class="nav-item"><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-center">Vista Administrador</div>
        <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>
    
    <div class="vertientes-container">


        
        
        <div class="vertientes-header">
            <h1>Vertiente "{{ vertiente.nombre }}"</h1>
        </div>

        

        <div class="rectangulo rectangulo-verde">
            <div class="contenido-rectangulo">
                    <i class="fas fa-times-circle"></i> 
                </a>
                <p>Caudal</p>
                <p>{{ objetos.caudal }}</p>
                
                
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </a>
                <a href="{% url 'habi:grafico_caudal' vertiente.id %}" class="cerrar-sesion">ver grafico de caudal</a>

                
            </div>
        </div>
        


        

        <div class="row">
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-times-circle"></i> 
                    </a>
                    <p>pH</p>
                    <p>{{ objetos.pH }}</p>
                    
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    <a href="{% url 'habi:grafico_ph' vertiente.id %}" class="cerrar-sesion">ver grafico de ph</a>

        
                    
                </div>
            </div>
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-times-circle"></i> 
                    </a>
                    <p>Conductividad</p>
                    <p>{{ objetos.conductividad }}</p>
                    
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    <a href="{% url 'habi:grafico_conductividad' vertiente.id %}" class="cerrar-sesion">ver grafico de conductividad</a>
                    
                </div>
            </div>
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-times-circle"></i> 
                    </a>
                    <p>Turbiedad</p>
                    <p>{{ objetos.turbiedad }}</p>
                    
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    <a href="{% url 'habi:grafico_turbiedad' vertiente.id %}" class="cerrar-sesion">ver grafico de turbiedad</a>
                    
                </div>
            </div>
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-times-circle"></i> 
                    </a>
                    <p>Temperatura</p>
                    <p>{{ objetos.temperatura }}</p>
                    
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    <a href="{% url 'habi:grafico_temperatura' vertiente.id %}" class="cerrar-sesion">ver grafico de temperatura</a>
        
                    
                </div>
            </div>
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-times-circle"></i> 
                    </a>
                    <p>Humedad</p>
                    <p>{{ objetos.humedad }}</p>
                    
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    <a href="{% url 'habi:grafico_humedad' vertiente.id %}" class="cerrar-sesion">ver grafico de humedad</a>
                    
                </div>
            </div>
        </div>

        










        
        





        




        
        
        
        

        <div class="cuadrado-blanco">
            <h2>¿Qué es esto?</h2>
            <p>Aquí puedes elegir qué vertiente revisar. El color indica si la Comunidad en cuestión se encuentra en óptimas condiciones. Para más detalles, pulsa el botón:</p>
            <button class="boton-mismo-icono"><i class="fas fa-arrow-alt-circle-right"></i></button>
        </div>
        

            




            <!-- Puedes agregar más rectángulos aquí -->
        </div>
    </div>
</body>
</html>


