{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/comunidades.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Gráfico de temperatura</title>   
    <style>
        /* Agregar un margen izquierdo para orientar el gráfico hacia la derecha */
        .chart-container {
            margin-left: 80px; /* Puedes ajustar este valor según tu preferencia */
        }
    </style>
</head>
<body>
    <div class="vertical-bar">
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item"><i class="fas fa-home"></i><a href="{% url 'crud:select' %}">Inicio</a></li>
                <li class="nav-item"><i class="fas fa-map"></i><a href="#">Mapa</a></li>
                <li class="nav-item"><i class="fas fa-chart-bar"></i><a href="#">Gráficas</a></li>
                <li class="nav-item"><i class="fas fa-download"></i><a href="#">Descarga</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar">
        <div class="navbar-left">
            <span class="hidro-tech">HidroTech</span>
        </div>
        <div class="navbar-center">
            <div class="admin-box">Vista Administrador</div>
        </div>
        <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 chart-container"> <!-- Agregar la clase chart-container y el margen izquierdo -->
                <canvas id="lineChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <div id="data-container" data-datajson="{{ data_json }}"></div>

    <script>
        // Obtener el elemento con los datos JSON
        var dataContainer = document.getElementById('data-container');
        
        // Obtener el atributo data-datajson y convertirlo en un objeto JavaScript
        var dataFromDjango = JSON.parse(dataContainer.getAttribute('data-datajson'));

        // Obtener etiquetas y valores de los datos
        var labels = dataFromDjango.labels;
        var values = dataFromDjango.values;

        // Crear un contexto para el gráfico
        var ctx = document.getElementById('lineChart').getContext('2d');

        // Configurar los datos para el gráfico de línea
        var chartData = {
            labels: labels,
            datasets: [{
                label: 'temperatura',
                data: values,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false
            }]
        };

        // Configurar opciones del gráfico
        var chartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: [{
                    type: 'time', // Configurar la escala X como escala de tiempo
                    time: {
                        unit: 'day',
                        tooltipFormat: 'DD/MM/YYYY',
                    },
                    title: {
                        display: true,
                        text: 'Fecha'
                    }
                }],
                y: {
                    title: {
                        display: true,
                        text: 'temperatura'
                    }
                }
            }
        };

        // Crear el gráfico de línea
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: chartOptions
        });
    </script>
</body>
</html>
