    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/navasi2.css' %}">
        <link rel="stylesheet" href="{% static 'css/navasia.css' %}">
        <link rel="stylesheet" href="{% static 'css/listar.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!--extras-->
        <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/826/826923.png" type="image/png">
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <title>Listado de Peticiones</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-left">
                <span class="hidro-tech">HidroTech</span>
            </div>
            <div class="navbar-center">
                <div class="admin-box">Vista Administrador</div>
            </div>
            <a href="{% url 'crud:index' %}" class="volverr">Volver</a>
            <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
        </nav>

        <div class="vertical-bar">
            <div class="sidebar">
                <ul class="sidebar-nav">
                    <li class="nav-item">
                        <a href="{% url 'crud:select' %}">
                            <div class="icon-on-top">
                                <i class="fas fa-home"></i>
                            </div>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'crud:mapa_general' %}">
                            <div class="icon-on-top">
                                <i class="fas fa-map"></i>
                            </div>
                            <span>Mapa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-on-top">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                            <span>Gráficas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'crud:index' %}">
                            <div class="icon-on-top">
                                <i class="bi bi-kanban"></i>
                            </div>
                            <span>Gestión</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'eva:comuni' %}">
                            <div class="icon-on-top">
                                <i class="fas fa-users"></i>
                            </div>
                            <span>Comunidad</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="container-main">
            <h1 class="main-heading">Administración de Peticiones</h1>
            <div class="button-row">
            <a href="{% url 'crud:listauser' %}" class="custom-button">
                <i class="bi bi-plus-circle"></i> Habitantes Registrados
            </a>
            </div>
            <div class="vertientes-container">
                <div class="card-body">
                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                
                                <th><div class="separador">RUT</div></th>
                                <th><div class="separador">Nombre</div></th>
                                <th><div class="separador">Apellido</div></th>
                                <th><div class="separador">Correo</div></th>
                                <th><div class="separador">Edad</div></th>
                                <th><div class="separador">Genero</div></th>
                                <th><div class="separador">Comunidad</div></th>
                                <th><div class="separador">Tipo</div></th>
                                <th><div class="separador">Está activado?</div></th>
                                <th><div class="separador">Opciones</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for objeto in listaUsuarios %}   
                                {% if not objeto.is_active %}
                                    <tr>
                                        
                                        <td>{{ objeto.username }}</td>
                                        <td>{{ objeto.first_name }}</td>
                                        <td>{{ objeto.last_name }}</td>
                                        <td>{{ objeto.email }}</td>
                                        <td>{{ objeto.edad }}</td>
                                        <td>{{ objeto.gender }}</td>
                                        <td>{{ objeto.comunidad }}</td>
                                        <td>{{ objeto.tipo }}</td>
                                        <td>{{ objeto.is_active }}</td>
                                        <td>
                                            <div class="button-container">
                                                <label onclick="window.location.href='{% url 'crud:activaruser' objeto.id %}'" class="editar-button">Aceptar</label>
                                                <label for="showModal" onclick="openModal('{{objeto.id }}')" class="editar-button">Eliminar</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                <script>
                    new DataTable('#example', {
                        columnDefs: [
                            { targets: [9], orderable: false }
                          ],
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                </script>
<!-- Todo para modal -->
<input type="checkbox" id="showModal" hidden>

<div class="modal-overlay">
    <div class="modal">
        <h2>¿Estás seguro de desactivar a este usuario?</h2>
        <h2>{{ objeto.first_name }}</h2>
        <form id="deactivateForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="usuario_id" id="usuario_id">
            <div class="modal-buttons">
                <label for="showModal" class="modal-button modal-button-secondary">Cancelar</label>
                <label type="button" id="desactivarUsuario" class="modal-button modal-button-danger">Desactivar</label>
            </div>
        </form>
    </div>
</div>

    </body>
    </html>
    <style>
        #example th:nth-child(10){
        text-align: center;
    }
    </style>