<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/Vertientes/moni/static/css/desear visualizar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Seleccione que desea visualizar</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="page1.html">Inicio</a></li>
            <li class="nav-item"><a href="#">Servicios</a></li>
            <li class="nav-item"><a href="#">Acerca de</a></li>
            <li class="nav-item"><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-center">Vista Administrador</div>
        <a href="#" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>
    
    <div class="vertientes-container">
        <div class="vertientes-header">
            <h1>Seleccione que desea visualizar</h1>
        </div>
        <div class="rectangulo rectangulo-verde">
            <div class="contenido-rectangulo">
                    <i class="fas fa-check"></i> 
                </a>
                <h2><font color="white">Gestión usuarios/habitantes/
                    comunidades/vertientes</font></h2>
                <a href="vertientes.html">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="cuadro-blanco">
            <h4>Ingrese aquí para ver las peticiones de registro de usuarios, modificar correos de contacto, comunidades, vertientes, etc.</h4>
        </div>
        
        
        <div class="rectangulo rectangulo-celeste">
            <div class="contenido-rectangulo">
                <i class="fas fa-check"></i> 
                <h2><font color="white">Visualizar todas las vertientes 
                    monitorizadas</font></h2>
                    <a href="comunidades.html">
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
            </div>
        </div>
        <div class="cuadro-blanco">
            <h4>Ingrese aqui para ver todas las vertientes de todas las comunidades monitorizadas.

            </h4>
        </div>
        <div class="cuadrado-blanco">
            <h2>¿Qué es esto?</h2>
            <h4>Aqui puedes elegir que apartado de la administración visualizar:<font color="87D91F">gestión de usuarios/comunidades/vertientes.</font> ó   <font color="56C4E7">todas las vertientes</font></h4>
            </h4>
        </div>
        

            




            <!-- Puedes agregar más rectángulos aquí -->
        </div>
    </div>
</body>
</html>
