<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/Vertientes/moni/static/css/gestion usuarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Gestión Usuarios</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="page1.html">Inicio</a></li>
            <li class="nav-item"><a href="#">Servicios</a></li>
            <li class="nav-item"><a href="#">Acerca de</a></li>
            <li class="nav-item"><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-center">Vista Administrador</div>
        <a href="#" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>
    

        <div class="vertientes-header">
            <h1>Gestion de usuarios / habitantes / comunidades / vertientes</h1>
        </div>
        <div class="rectangulos-container">
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                    <h1><font color="white">Solicitudes de registro</font></h1>
                    <a href="vertientes.html">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="cuadro-blanco">
                    <h3>¿Qué es esto?</h3>
                    <p>Aqui puede ver las solicitudes de registro para aceptarlas o denegarlas según estime conveniente.
                        Recuerde verificar si el solicitante pertenece a la comunidad que dice mencionar.</p>
                </div>
            </div>
            <div class="rectangulo rectangulo-celeste">
                <div class="contenido-rectangulo">
                    <h1><font color="white">Comunidades</font></h1>
                    <a href="comunidades.html">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="cuadro-blanco">
                    <h3>¿Qué es esto?</h3>
                    <p>Aqui puede ver, crear, eliminar o actualizar el registro de las comunidades y cambiarle sus datos si lo encuentra necesario, estos datos incluyen el nombre de la comunidad, su localización y el numero de vertienes que la conforman.</p>
                </div>
            </div>
        </div>
        <div class="rectangulos-container">
            <div class="rectangulo rectangulo-rojo">
                <div class="contenido-rectangulo">
                    <h1><font color="white">Habitantes</font></h1>
                    <a href="vertientes.html">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="cuadro-blanco">
                    <h3>¿Qué es esto?</h3>
                    <p>Aqui puede ver, crear, eliminar o actualizar el registro de habitantes creados y cambiarle sus datos si lo encuentra necesario, estos datos incluyen el nombre, edad y el correo de contacto para notificaciones.</p>
                </div>
            </div>
            <div class="rectangulo rectangulo-amarillo">
                <div class="contenido-rectangulo">
                    <h1><font color="white">Vertientes</font></h1>
                    <a href="comunidades.html">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="cuadro-blanco">
                    <h3>¿Qué es esto?</h3>
                    <p>Aqui puede ver, crear, eliminar o actualizar el registro de las vertientes y cambiarle sus datos si lo encuentra necesario, estos datos incluyen el nombre de la vertiente, su ubicacion y el descripción.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>