{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/qdesea visualizar.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    </head>
    <body>
        <div class="vertical-bar">
            <div class="sidebar">
                <ul class="sidebar-nav">
                    <li class="nav-item"><i class="fas fa-home"></i><a href="{% url 'crud:select' %}">Inicio</a></li>
                    <li class="nav-item"><i class="fas fa-map"></i><a href="#">Mapa</a></li>
                    <li class="nav-item"><i class="fas fa-chart-bar"></i><a href="#">Gráficas</a></li>
                    <li class="nav-item"><i class="fas fa-download"></i><a href="#">Descarga</a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-left">
                <span class="hidro-tech">HidroTech</span>
            </div>
            <div class="navbar-center">
                <div class="admin-box">Vista Administrador</div>
            </div>
            <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
        </nav>
        
        <div class="vertientes-container">
            <div class="vertientes-header">
                <h1>Seleccione que desea visualizar</h1>
            </div>
            <div class="rectangulo rectangulo-verde">
                <div class="contenido-rectangulo">
                        <i class="fas fa-check"></i> 
                    </a>
                    <h2><font color="white">Gestión usuarios/habitantes/
                        comunidades/vertientes</font></h2>
                    <a href="{% url 'crud:index' %}">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="cuadro-blanco">
                <h4>Ingrese aquí para ver las peticiones de registro de usuarios, modificar correos de contacto, comunidades, vertientes, etc.</h4>
            </div>
            
            
            <div class="rectangulo rectangulo-celeste">
                <div class="contenido-rectangulo">
                    <i class="fas fa-check"></i> 
                    <h2><font color="white">Visualizar todas las vertientes 
                        monitorizadas</font></h2>
                        <a href="{% url 'eva:comuni' %}">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="cuadro-blanco">
                <h4>Ingrese aqui para ver todas las vertientes de todas las comunidades monitorizadas.
    
                </h4>
            </div>
            <div class="cuadrado-blanco">
                <h2>¿Qué es esto?</h2>
                <h4>Aqui puedes elegir que apartado de la administración visualizar:<font color="87D91F">gestión de usuarios/comunidades/vertientes.</font> ó   <font color="56C4E7">todas las vertientes</font></h4>
                </h4>
            </div>
            </div>

            
            </div>
            
            </div>

            



            
    </body>


</html>