{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/crear.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!--extra-->

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    </head>

    <body>
      <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="page1.html">Inicio</a></li>
        </ul>
        <div class="navbar-center">Vista Administrador</div>
        <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
    </nav>
    
    <div class="center-container">
    <div class="vertientes-container">
            <div class="center-div">
              <div class="card-header">
              <h3 class="card-title">Nueva comunidad</h3>
              </div>
              <form method="post">
              <div class="card-body">
              <div class="form-group">
                {{ form.errors }}
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="email">{{ field.label }}  </label>
                {{ field }}
              </div>
              {% endfor %}
              </div>
              </div>

              <div class="contenido-rectangulo">
                <div id="map" style="height: 600px; width: 600px;"></div>

              {{ vertientes|json_script:"vertientes_json" }}



              </div>
              <div class="card-footer">
              <button type="submit" class="btn btn-success">Crear</button>
              <a href="{% url 'crud:listcom' %}" class="button">
                <button type="button" class="btn btn-danger">Volver</button>  
              </a>
              </div>
              </form>
              </div>
    </div>
  </div>

  <script>
    var map=L.map('map').setView([-36.084726, -71.217422],11);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.google.cl/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let vertientes = JSON.parse(document.getElementById('vertientes_json').textContent)
            var currentMarker = null;
            map.on('click', function(event) {

              if (currentMarker) {
              map.removeLayer(currentMarker);
              }



              currentMarker=L.marker([event.latlng.lat,event.latlng.lng]).addTo(map);
              console.log(event.latlng);
              var latlng = event.latlng;
              var latitudField = document.getElementById('id_latitud');
              var longitudField = document.getElementById('id_longitud');

              if (latitudField && longitudField) {
              // Actualiza los campos
              latitudField.value = latlng.lat;
              longitudField.value = latlng.lng;
                }
              else{
                console.log('xdd');
              }
            });
  </script>
    </body>
</html>
