{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static 'css/navasi.css' %}">
    </head>
<body>
    <div class="vertical-bar">
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a href="{% url 'habi:miPerfil' pk=user.id %}">
                        <div class="icon-on-top">
                            <i class="fas fa-user"></i>
                        </div>
                        <span>Mi Perfil</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'habi:detect' %}">
                        <div class="icon-on-top">
                            <i class="fas fa-water"></i>
                        </div>
                        <span>Vertientes</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'nucleo:mapa' user_id %}">
                        <div class="icon-on-top">
                            <i class="fas fa-map"></i>
                        </div>
                        <span>Mapa</span></a>
                </li>
            </ul>
        </div>
    </div>

</body>
