
.center-div {
    /* Estilos para centrar contenido verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-top: 145px;
    margin-left:120px
}

.card-header {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px 5px 5px 5px;
    background-color: #16536A;
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.card-body {
    padding: 20px;
}

.card-footer{
    padding: 20px
}

.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
}

#id_nombre{

    width: 90%;
}

#id_ubicación{

    width: 90%;
}
#id_desc{

    width: 90%;
}
#id_username{

    width: 90%;
}
#id_first_name{

    width: 90%;
}
#id_last_name{

    width: 90%;
}
#id_email{

    width: 90%;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-success {
    background-color: #16536A;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-success:hover {
    background-color: #0077b3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.btn-danger {
    background-color: #16536A;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-danger:hover {
    background-color: #d63424;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.vertientes-container {
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 600px; 

}
.form-container {
    width: 50%; 
    display: inline-block; 
    vertical-align: top; 
}

.map-containerr {
    width: 50%; 
    display: inline-block; 
    vertical-align: top; 
}

/* Agrega estilos para asegurarte de que el mapa y el formulario tengan espacio */
.contenido-rectangulo {
    margin-top: 20px; 
    margin-bottom: 20px; /
}
.aviso {
    position: fixed;
    top: 7.5cm; 
    margin-left: 14cm; 
    background-color: #3393B7;
    color: #FFFFFF;
    padding: 50px;
    border-radius: 30px;
    z-index: 9999;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.aviso {
    position: fixed;
    top: 7.5cm; 
    margin-left: 14cm; 
    background-color: #3393B7;
    color: #FFFFFF;
    padding: 50px;
    border-radius: 30px;
    z-index: 9999;
    font-size: 20px;
    font-family: Arial, sans-serif;
} .hidden {
display: none;
}
