/* Estilos generales y otros estilos */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-center {
    flex: 1; /* Toma el espacio restante */
    text-align: center;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #1caa23; /* Cambia el color al pasar el cursor sobre el enlace */
}

.cerrar-sesion {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cerrar-sesion:hover {
    background-color: white;
    color: #333;
}

/* Estilos para toda la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF; /* Color celeste */
}

/* Estilos de la página de vertientes */
.vertientes-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #B0E2FF;
}

.vertientes-header {
    text-align: center;
    padding: 50px 0;
    background-color: #B0E2FF; /* Color celeste */
    color: rgb(0, 0, 0);
}

.rectangulos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación hacia la izquierda */
    margin-top: 30px;
}

/* ... Otros estilos ... */

.rectangulo {
    position: relative;
    width: 600px;
    height: 180px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 25px; /* Agregamos las esquinas redondeadas */
    padding-right: 40px; /* Espacio para el icono más ancho */
}
.rectangulo-verde {
    background-color: #87D91F; /* Color verde pastel */
}

.rectangulo-celeste {
    background-color: #56C4E7; /* Color celeste pastel */
}

/* .rectangulo-verde {
    background-color: #1caa23; 
}

.rectangulo-rojo {
    background-color: #e71c1c; 
} */

.contenido-rectangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.contenido-rectangulo p {
    margin: 1;
    font-size: 18px;
    text-align: center; /* Centra horizontalmente el texto */
    flex: 1; /* Asegura que el texto ocupe el espacio disponible */
}
.contenido-rectangulo i:first-child {
    font-size: 30px;
    margin-right: 10px;
}

.rectangulo i {
    font-size: 30px;
    color: rgb(247, 241, 241);
}

.cuadrado-blanco {
    position: absolute;
    top: 300px;
    right: 100px; /* Ajusta este valor según sea necesario */
    width: 300px;
    height: 250px; 
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 8px solid blue; /* Agrega el contorno azul */
}


.cuadrado-blanco h2 {
    font-size: 24px;
}
.cuadro-blanco {
    position: relative;
    width: 500px;
    height: 100px; 
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 140px;
    border-radius: 30px;
    border: 5px solid blue; /* Agrega el contorno azul */
}

.cuadro-blanco h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.boton-mismo-icono {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.boton-mismo-icono i {
    font-size: 30px;
    color: rgb(12, 70, 231);
}




/* Resto de los estilos */
