/* Estilos generales y otros estilos */
.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-center {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #0E7FE7;
}

.vertical-bar {
    background-color: white;
    width: 77px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.hidro-tech {
    color: #0E7FE7;
    font-weight: bold;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 0;
}

.admin-box {
    background-color: #0E7FE7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.sidebar-nav {
    list-style: none;
    padding: 7px;
    margin-top: 50px;
}

.sidebar-nav .nav-item {
    margin-bottom: 30px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #0E7FE7;
    display: block;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #fd1d1d;
}

.sidebar-nav i {
    font-size: 2.0rem;
    margin-right: 0px;
    color: #0E7FE7;
    fill: #0E7FE7;
}

.cerrar-sesion {
    background-color: #0E7FE7;
    color: white;
    font-weight: bold;
    border: 2px solid #0E7FE7;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cerrar-sesion:hover {
    background-color: white;
    color: #0E7FE7;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF;
}

.vertientes-container {
    max-width: 960px;
    margin: 10px;
    padding: 200px;
    background-color: #B0E2FF;
}

.vertientes-header {
    text-align: center;
    padding: 0px 0;
    background-color: #B0E2FF;
    color: rgb(0, 0, 0);
}

.rectangulos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    justify-content: space-between;
    margin-left: 120px;
    margin-bottom: 0px;
    gap: 2px;
}

.rectangulo-container {
    display: flex;
    align-items: center; 
    flex-basis: calc(50% - 2px); /* 50% del ancho con espacio entre ellos */
    margin-bottom: 2px; /* Espacio entre las filas */
}

.rectangulo-container i {
    font-size: 30px;
    color: #0E7FE7;
    margin-right: 10px;
    cursor: pointer;
}

.rectangulo {
    position: relative;
    width: 400px;
    height: 180px;
    margin-right: 50px;
    border-radius: 25px;
}

.rectangulo-verde {
    background-color: #87D91F;
}

.rectangulo-celeste {
    background-color: #56C4E7;
}

.rectangulo-rojo {
    background-color: #cc120c;
}

.rectangulo-amarillo {
    background-color: #e7e41c;
}

.contenido-rectangulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.contenido-rectangulo p {
    margin: 1;
    font-size: 18px;
    text-align: center;
    flex: 1;
}

.contenido-rectangulo i:first-child {
    font-size: 30px;
    margin-right: 10px;
}

.rectangulo i {
    font-size: 30px;
    color: rgb(247, 241, 241);
}

.hidden-text {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    margin-top: -30px; /* Ajusta esto según tu diseño */
    margin-left: 10px; /* Ajusta esto según tu diseño */
    box-shadow: 0 0 5px rgba(250, 2, 2, 0.89);
    border-radius: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 7px solid #0E7FE7;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cc4242;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: -20px;
    margin-left: 70px;
    }
