/* Estilos generales y otros estilos */
.navbar {
    background-color: white;
    color: black; /* Color del texto en el Navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-center {
    flex: 1; /* Toma el espacio restante */
    text-align: center;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #0E7FE7; /* Cambia el color al pasar el cursor sobre el enlace */
}
/* Barra blanca vertical en la parte izquierda */
/* Estilo de la barra lateral izquierda */
.vertical-bar {
    background-color: white;
    width: 77px; /* Ancho de la barra blanca vertical */
    height: 100vh; /* Altura igual a la altura de la ventana (viewport height) */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

/* Estilo de "HidroTech" en el Navbar */
.hidro-tech {
    color: #0E7FE7; /* Texto azul para HidroTech */
    font-weight: bold;
    font-size: 20px; /* Tamaño de fuente opcional */
    margin-left: 70px; /* Espacio a la izquierda de HidroTech */
    margin-right: 0; /* Espacio a la derecha de HidroTech */
}

/* Estilo del rectángulo azul para "Vista Administrador" */
.admin-box {
    background-color: #0E7FE7; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; /* Hace que el rectángulo se ajuste al contenido */
}


/* Estilo de los enlaces de la barra lateral */
.sidebar-nav {
    list-style: none;
    padding: 7px;
    margin-top: 50px;
}

.sidebar-nav .nav-item {
    margin-bottom: 30px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #0E7FE7;
    display: block;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #fd1d1d; /* Cambia el color al pasar el cursor sobre el enlace */
}
/* Estilo de los iconos en la barra lateral */
.sidebar-nav i {
    font-size: 2.0rem; /* Tamaño del icono */
    margin-right: 0px; /* Espacio a la derecha del icono */
    color: #0E7FE7; /* Cambia el color de los iconos a azul */
    fill:#0E7FE7
}
/* Estilo del Navbar */
.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilo del botón "Cerrar Sesión" */
.cerrar-sesion {
    background-color: #0E7FE7; /* Botón azul */
    color: white;
    font-weight: bold;
    border: 2px solid #0E7FE7;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cerrar-sesion:hover {
    background-color: white;
    color: #0E7FE7;
}

/* Estilos para toda la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF;
}

/* Estilos de la página de vertientes */
.vertientes-container {
    max-width: 960px;
    margin: 10px;
    padding: 200px;
    background-color: #B0E2FF;
}

.vertientes-header {
    text-align: center;
    padding: 5px 0;
    background-color: #B0E2FF;
    color: rgb(0, 0, 0);
}

.rectangulos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos de los rectángulos */
.rectangulo {
    position: relative;
    width: 600px;
    height: 180px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding-right: 40px;
}

/* Estilos de los rectángulos de colores */
.rectangulo-verde {
    background-color: #87D91F;
}

.rectangulo-celeste {
    background-color: #56C4E7;
}

.rectangulo-rojo {
    background-color: #cc120c;
}

.rectangulo-amarillo {
    background-color: #e7e41c;
}

.contenido-rectangulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}
.contenido-rectangulo p {
    margin: 1;
    font-size: 18px;
    text-align: center;
    flex: 1;
}

.contenido-rectangulo i:first-child {
    font-size: 30px;
    margin-right: 10px;
}

.rectangulo i {
    font-size: 30px;
    color: rgb(247, 241, 241);
}


.cuadro-blanco {
    position: absolute;
    top: 190px; /* Ajusta este valor según sea necesario para alinearlos */
    right: 10px;
    width: 400px;
    height: 130px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 8px solid blue;
}


.cuadro-blanco h4 {
    font-size: 30px;
    margin: 1000;
}

.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cc4242;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 70px;
    }

/* Resto de los estilos */
