body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF; /* Color celeste */
}

/* Estilos de la página de vertientes */
.vertientes-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    background-color: #B0E2FF;
}
.vertientes-container img {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 89%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -30%); /* Centra horizontalmente */
    height: auto; /* Ajusta la altura automáticamente */
    max-height: 59%; /* Limita la altura al 100% del contenedor */
    max-width: 60%; /* Limita el ancho al 100% del contenedor */
}

.vertientes-header {
    text-align: center;
    padding: 30px 0;
    background-color: #B0E2FF; /* Color celeste */
    color: rgb(0, 0, 0);
}


.rectangulos-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los rectángulos pasen a la siguiente fila */
    justify-content: center; /* Centra horizontalmente los rectángulos */
    align-items: center; /* Centra verticalmente los rectángulos */
    margin-top: 30px;
}

/* ... Otros estilos ... */

.row1, .row2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente los rectángulos en cada fila */
    align-items: center; /* Centra verticalmente los rectángulos en cada fila */
}

/* Estilos para los rectángulos individuales */
.rectangulo {
    position: relative;

    width: 4500px; /* Ancho de los rectángulos */
    height: 180px; 
    margin: 20px; /* Espacio entre los rectángulos */
    border-radius: 25px;
    padding-right: 40px; /* Espacio para el icono más ancho */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.rectangulo-verde {
    background-color: #16536A; /* Color verde pastel */
}

.rectangulo-celeste {
    background-color: #16536A; /* Color celeste pastel */
}

/* .rectangulo-verde {
    background-color: #1caa23; 
}

.rectangulo-rojo {
    background-color: #e71c1c; 
} */

.contenido-rectangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.contenido-rectangulo p {
    margin: 1;
    font-size: 18px;
    text-align: center; /* Centra horizontalmente el texto */
    flex: 1; /* Asegura que el texto ocupe el espacio disponible */
}
.contenido-rectangulo i:first-child {
    font-size: 30px;
    margin-right: 10px;
}

.rectangulo i {
    font-size: 50px;
    color: rgb(247, 241, 241);
}
/* Estilo para los iconos de interrogación */
/* Estilo para los iconos de interrogación */
.fa-question-circle {
    color: #16536A; /* Cambia el color según tu preferencia */
    font-size: 24px; /* Cambia el tamaño según tu preferencia */
    cursor: pointer;
    float: right; /* Alinea a la derecha */
    margin-right: 40px; /* Espacio a la derecha del contenido */
}

.boton-mismo-icono {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.boton-mismo-icono i {
    font-size: 30px;
    color: rgb(12, 70, 231);
} 

.hidden-text {
    font-size: 17px;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    margin-top: -30px; /* Ajusta esto según tu diseño */
    margin-left: 10px; /* Ajusta esto según tu diseño */
    box-shadow: 0 0 5px rgba(250, 2, 2, 0.89);
    border-radius: 25px;
    max-height: 180px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 7px solid #0E7FE7;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.fa-lightbulb {
    color: #16536A; /* Cambia el color según tu preferencia */
    font-size: 24px; /* Cambia el tamaño según tu preferencia */
    cursor: pointer;
    margin-left: 10px; /* Añade margen para separar del título */
}
.gestion-text {
    font-size: 30px; /* Cambia el tamaño según tu preferencia */
}
.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #16536A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: -20px;
    margin-left: -80px;
    }



    @media (max-width: 280px) {
        /* Estilos para pantallas pequeñas */
        .vertientes-container {
            padding: 2%;
        }
    
        .rectangulo {
            width: 95%;
            height: 20vh;
            margin: 5%;
            padding-right: 2%;
        }
    }
    
    
    
    
    
    
