/* Estilos generales y otros estilos */


.container-main{
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3%;
}

/* Estilo para "ADMINISTRACIÓN DE COMUNIDADES" */
.main-heading {
    font-size: 25px; /* Tamaño de fuente para el título principal */
    text-transform: uppercase; /* Mayúsculas para el título principal */
    text-align: center; /* Alineación centrada del título principal */
    align-items: center;
}

/* Estilo para "LISTADO DE COMUNIDAD" */
.sub-heading {
    font-size: 20px; /* Tamaño de fuente para el subtítulo */
    margin-bottom: 0px; /* Espacio entre el subtítulo y el contenido */
    text-transform: uppercase; /* Mayúsculas para el subtítulo */
    text-align: center; /* Alineación centrada del subtítulo */
    align-items: center;
}

.acceder, .carga, .volver {
    background-color: #3393B7; /* Botón azul */
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.acceder:hover, .carga:hover, .volver:hover {
    background-color: #16536A; /* Cambia el color al pasar el cursor sobre los botones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo de la tabla */
#example {
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Borde de celdas colapsado */
    background-color: #ffffff; /* Fondo blanco de la tabla */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para la tabla */
    margin-top: 20px; /* Espacio superior de la tabla */
}

.dataTables_wrapper {
    width: 1200px;
    padding-right: 10px;
    margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.dataTables_length, .dataTables_filter {
    display: inline-block; /* Coloca los elementos en línea dentro del cuadro */
    margin-bottom: 10px; /* Espacio entre los elementos de DataTables */
    border: none; /* Elimina el borde de los elementos */
    background: none; /* Fondo transparente para los elementos */
    color: #3393B7; /* Color del texto de los elementos */
}

/* Estilo para el margen superior de "Mostrando registros del ..." y "anterior/siguiente" */
.dataTables_info, .dataTables_paginate {
    margin-top: 10px; /* Agrega un margen superior */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo para el cuadro de búsqueda de DataTables */
#example_filter input {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #000000; /* Borde negro de 1 píxel */
    border-radius: 5px; /* Esquina redondeada */
    padding: 5px; /* Espaciado interno */
    color: #000000; /* Texto negro */
    width: 200px; /* Ancho del cuadro de búsqueda, ajusta según tus necesidades */
}

#example_filter input::placeholder {
    color: #000000; /* Color del marcador de posición del cuadro de búsqueda */
}

.dataTables_info {
    border-radius: 10px; /* Esquina inferior izquierda redondeada */
}

.dataTables_paginate {
    border-radius: 10px; /* Esquina inferior derecha redondeada */
}

.dataTables_length {
    border-radius: 10px; /* Esquina superior derecha redondeada */
}

.dataTables_filter {
    border-radius: 10px; /* Esquina superior derecha redondeada */
}

.dataTables_length, .dataTables_filter {
    display: inline-block; /* Coloca los elementos en línea dentro del cuadro */
    border: none; /* Elimina el borde de los elementos */
    background: none; /* Fondo transparente para los elementos */
    padding: 10px;
    
    background-color: #3393B7;
}

#example th, #example td {
    padding: 10px; /* Espaciado interno de celdas */
    text-align: left; /* Alineación de texto izquierda */
}

#example th {
    background-color: #3393B7; /* Fondo azul para encabezados de tabla */
    color: white; /* Texto blanco en encabezados */
    font-weight: bold;
}

#example tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris alternado para filas pares */
}

.button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
    align-items: center; /* Centra verticalmente los botones */
}

.editar-button, .eliminar-button {
    background-color: #16536A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.editar-button:hover, .eliminar-button:hover {
    background-color: #3393B7;
}

.editar-button:hover, .eliminar-button:hover {
    transform: scale(1.05); /* Escala el botón al hacer hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    cursor: pointer;
}

.editar-button {
    margin-right: 10px; /* Agrega un margen a la derecha del botón "Editar" */
}

.button-row {
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25px;
    gap: 15px;
    font-size: 18px
}

/* Estilo para los botones "Crear Manualmente La Comunidad" y "Carga masiva" */
.custom-button {
    background-color: #3393B7;
    color: white;
    display: inline-block;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 320px;
}

.custom-button:hover {
    background-color: #16536A;
}

/* Estilos para el hover de los botones */
.custom-button:hover {
    transform: scale(1.05); /* Escala el botón al hacer hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .container-main {

        padding-left: 0;
        padding-top: 0;
}
}

@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
    margin-left: 10px;
}
}

@media screen and (max-width: 1350px){
    .container-main {
        width: 1200px;
        padding-left: 110px;
        padding-top: 60px;
    }
    }

@media screen and (max-width: 900px){
    .container-main {
        padding-left: 0;
        padding-top: 170px;
}
}


    /* Estilo para el fondo oscurecido detrás del modal */
    .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    /* Estilo para el modal */
    .modal {
        display: none;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
        position: relative;
        width: 300px; /* Ajusta el ancho del modal según tus necesidades */
        text-align: center;
    }

    /* Estilo para el título del modal */
    .modal h2 {
        margin: 0 0 20px; /* Agrega espacio en la parte inferior del título */
    }

    /* Estilo para los botones en el modal */
    .modal-button {
        margin: 0 10px; /* Agrega espacio entre los botones */
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Estilo para el botón "Eliminar" */
    .modal-button-danger {
        background-color: #d9534f;
    }

    /* Estilo para el botón "Cancelar" */
    .modal-button-secondary {
        background-color: #008ec1;
    }

    /* Estilo para el botón "Eliminar" al pasar el mouse sobre él */
    .modal-button-danger:hover {
        background-color: #16536A;
    }

    /* Estilo para el botón "Cancelar" al pasar el mouse sobre él */
    .modal-button-secondary:hover {
        background-color: #16536A;
    }

    /* Estilo para mostrar el modal */
    #showModal:checked ~ .modal-overlay {
        display: flex;
    }

    #showModal:checked ~ .modal-overlay .modal {
        display: block;
    }
    #example th:nth-child(5), #example td:nth-child(5) {
        text-align: center;
    }
   