 /* Estilos para la lista de vertientes */
 #example {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

#example th, #example td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

#example th {
    background-color: #3498db;
    color: #fff;
}

#example tr:nth-child(even) {
    background-color: #f2f2f2;
}

#example tr:hover {
    background-color: #e0e0e0;
    color: #333;
}

/* Estilos para los separadores de columnas */
#example th div.separador {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button-container button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.acceder {
    display: inline-block;
    padding: 30px 35px;
    background-color: #87D91F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 5px;
}
.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cc4242;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.desactivar {
    display: inline-block;
    padding: 1px 2px;
    background-color: #4bc470;
    color: white;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 5px;
}
.editar-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
}
.Peticiones {
    padding: 5px 10px;
    background-color: #fdd835;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
}

#example {
    background-color: white;
}
#example-td {
    background-color: white;
}
#example-th {
    background-color: white;
}
/* Estilos para centrar los separadores */
.separador {
    text-align: center;
    padding: 10px;
    border-radius: 0;
    margin-right: 20px;
}

/* Centrar contenido de las celdas */
#example td {
    text-align: center;
}
.Eliminar {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
} 
.carga {
    display: inline-block;
    padding: 30px 35px;
    background-color: #87D91F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: px;
}

.desactivar {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}


