/* Tablas de administrador */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF;
}
.container-main{
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3%;
    padding-left: 110px;
    padding-top: 60px;
}
.vertientes-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-heading {
    font-size: 25px;
    padding-top: 2%;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
.sub-heading {
    font-size: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
.acceder, .carga, .volver {
    background-color: #3393B7;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.acceder:hover, .carga:hover, .volver:hover {
    background-color: #16536A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#example {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.dataTables_wrapper {
    margin: 0 auto;
}
.dataTables_length, .dataTables_filter {
    display: inline-block;
    margin-bottom: 10px;
    border: none;
    background: none;
    color: #3393B7;
}
.dataTables_info, .dataTables_paginate {
    margin-top: 10px;
    align-items: center;
}
#example_filter input {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    width: 200px;
}
#example_filter input::placeholder {
    color: #000000;
}
.dataTables_info {
    border-radius: 10px;
}
.dataTables_paginate {
    border-radius: 10px;
}
.dataTables_length {
    border-radius: 10px;
}
.dataTables_filter {
    border-radius: 10px;
}
.dataTables_length, .dataTables_filter {
    display: inline-block;
    border: none;
    background: none;
    padding: 10px;
    background-color: #3393B7;
}
#example th, #example td {
    padding: 10px;
    text-align: left;
}
#example th {
    background-color: #3393B7;
    color: white;
    font-weight: bold;
}
#example tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-container {
    overflow-x: auto;
    width: 1200px;
    margin: 0 auto;   
}
#example {
    width: 100%;
    -webkit-column-break-after: auto;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editar-button, .eliminar-button {
    background-color: #16536A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.editar-button:hover, .eliminar-button:hover {
    background-color: #3393B7;
}
.editar-button:hover, .eliminar-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.editar-button {
    margin-right: 10px;
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 15px;
    font-size: 18px
}
.custom-button {
    background-color: #3393B7;
    color: white;
    display: inline-block;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 320px;
}
.custom-button:hover {
    background-color: #16536A;
}
.custom-button:hover {
    transform: scale(1.05); /* Escala el botón al hacer hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Modal de Eliminar y desactivar */
.modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
    width: 300px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modaloverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal-button {
    margin: 0 10px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 30%; 
    height: 30px;
}
.modal-button-danger {
    background-color: #d9534f;
}
.modal-button-secondary {
    background-color: #008ec1;
}
.modal-button-danger:hover {
    background-color: #16536A;
}
.modal-button-secondary:hover {
    background-color: #16536A;
}
#showModal:checked ~ .modal-overlay {
    display: flex;
}
#showModal:checked ~ .modal-overlay .modal {
    display: block;
}

@media screen and (max-width: 640px){
    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
        margin-left: 10px;
    }
    .custom-button{
        display: inline-block;
        padding: 15px 25px;
    }
    }
    
@media screen and (max-width: 1350px){
    .container-main {
        padding-left: 110px;
        padding-top: 60px;
    }
    }

@media screen and (max-width: 1200px){
    .container-main {
        padding-left: 0;
        padding-top: 170px;
    }
    }