.hidden {
    display: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 20px); 
  margin: 0;
}

.vertical-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangulos-container2 {
  display: flex;
  justify-content: center;
}
select {
  background-color: #3393B7; 
  color: #fefefe; 
  padding: 10px; 
  border: 5px solid black; 
  border-radius: 10px; 
  
}

