/* Restablecer algunos estilos predeterminados */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://chileestuyo.cl/wp-content/uploads/2021/03/Laguna-Cuellar-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para el contenedor principal */
.container {
    display: flex; /* Usar flexbox para centrar los elementos */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Establecer el alto del contenedor al 100% del viewport height */
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilo para el borde */
.border {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center; /* Centrar el texto en el borde */
    border-radius: 10px; /* Agregar bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra */
    background-color: #e3f6ffe6; /* Fondo con transparencia */
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Estilo para el encabezado */
h3 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

a.acceder{
    background-color: #20ca45;
}

a.acceder:hover {
    Transition: background-color 0.3s ease; /* Agregar una transición de color al botón */
    background-color: #48c6ec;
}

/* Estilo para la entrada de archivo */
input[type="file"] {
    border: 2px solid #dc3545;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #20ca45;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Agregar una transición de color al botón */
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Agregar sombra */
}

/* Cambiar el color del botón al pasar el mouse sobre él */
button[type="submit"]:hover {
    background-color: #48c6ec;
}


/* Estilo para el efecto de hover del enlace */
.volver:hover {
    Transition: background-color 0.3s ease; /* Agregar una transición de color al botón */
    background-color: #48c6ec;
}

