
/* Estilo para el contenedor principal */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
}

/* Estilo para el borde */
.border {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    background-color: #e3f6ffe6; 
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Estilo para el encabezado */
h3 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

a.acceder{
    background-color: #16536A;
}

a.acceder:hover {
    Transition: background-color 0.3s ease; 
    background-color: #16536A;
}

/* Estilo para la entrada de archivo */
input[type="file"] {
    border: 2px solid #dc3545;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #16536A;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease; 
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); 
}

/* Cambiar el color del botón al pasar el mouse sobre él */
button[type="submit"]:hover {
    background-color: #16536A;
}


/* Estilo para el efecto de hover del enlace */
.volver:hover {
    Transition: background-color 0.3s ease; 
    background-color: #48c6ec;
}

.accederr {
    display: inline-block;
    padding: 10px 20px;
    background-color: #16536A;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    }
    .accederr:hover {
        background-color: #0f5c11;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }
    .volverr {
    display: inline-block;
    padding: 10px 20px;
    background-color: #16536A;
    color: white;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    }
    .volverr:hover {
        background-color: #0f5c11;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }
    .editarr {
    display: inline-block;
    padding: 1px 2px;
    background-color: #16536A;
    color: white;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 5px;
    }
    .editarr:hover {
        background-color: #0f5c11;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }
    .desactivarr {
    display: inline-block;
    padding: 1px 2px;
    background-color: #16536A;
    color: white;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 5px;
    }
    .desactivarr:hover {
        background-color: #0f5c11;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }
#example {
  background-color: white;
}#example-td {
  background-color: white;
}#example-th {
  background-color: white;
}