.table-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    margin-left: 120px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #16536A;
    color: white;
}
tr:nth-child(even) {
    background-color: #F5F5F5;
}
tr:hover {
    background-color: #E1E1E1;
}
.search-box {
    margin: 20px 0;
    margin-left: 120px;
}
input[type="text"] {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
button {
    background-color: #3393B7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #16536A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.ver-vertientes-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #16536A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.ver-vertientes-button:hover {
    background-color: #1e6fae;
}

/* Estilos para la paginación */
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination a {
    color: #fff;
    background-color: #16536A;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}