/* Estilos generales y otros estilos */
.navbar {
    background-color: white;
    color: black; /* Color del texto en el Navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-center {
    flex: 1; /* Toma el espacio restante */
    text-align: center;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #0E7FE7; 
}

/* Estilo de la barra lateral izquierda */
.vertical-bar {
    background-color: white;
    width: 77px; 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; 
}

/* Estilo de "HidroTech" en el Navbar */
.hidro-tech {
    color: #0E7FE7;
    font-weight: bold;
    font-size: 20px; 
    margin-left: 70px; 
    margin-right: 0; 
}

/* Estilo del rectángulo azul para "Vista Administrador" */
.admin-box {
    background-color: #0E7FE7; 
    color: white; 
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; 
}


/* Estilo de los enlaces de la barra lateral */
.sidebar-nav {
    list-style: none;
    padding: 7px;
    margin-top: 50px;
}

.sidebar-nav .nav-item {
    margin-bottom: 30px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #0E7FE7;
    display: block;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #fd1d1d; 
}
/* Estilo de los iconos en la barra lateral */
.sidebar-nav i {
    font-size: 2.0rem; 
    margin-right: 0px; 
    color: #0E7FE7; 
    fill:#0E7FE7
}
/* Estilo del Navbar */
.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilo del botón "Cerrar Sesión" */
.cerrar-sesion {
    background-color: #0E7FE7; 
    color: white;
    font-weight: bold;
    border: 2px solid #0E7FE7;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cerrar-sesion:hover {
    background-color: white;
    color: #0E7FE7;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B0E2FF; 
}

/* Estilos de la página de vertientes */
.vertientes-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #B0E2FF;
}

.vertientes-header {
    text-align:left;
    padding: 50px 0;
    background-color: #B0E2FF; 
    color: rgb(0, 0, 0);
}

.rectangulos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 30px;
}



.rectangulo {
    position: relative;
    width: 600px;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 25px; 
    padding-right: 40px; 
}
.rectangulo-verde {
    background-color: #87D91F; 
}

.rectangulo-rojo {
    background-color: #e71c1c; 
}

.contenido-rectangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.contenido-rectangulo p {
    margin: 0;
    font-size: 18px;
    text-align: center; 
    flex: 1; 
}
.contenido-rectangulo i:first-child {
    font-size: 30px;
    margin-right: 10px;
}

.rectangulo i {
    font-size: 30px;
    color: rgb(247, 241, 241);
}

.cuadrado-blanco {
    position: absolute;
    top: 300px;
    right: 100px; 
    width: 300px;
    height: 250px; 
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 8px solid #0E7FE7; 
}


.cuadrado-blanco h2 {
    font-size: 24px;
}

.boton-mismo-icono {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.boton-mismo-icono i {
    font-size: 30px;
    color: #0E7FE7;
}
.fa-lightbulb {
    color: #fdd835; 
    font-size: 24px; 
    cursor: pointer;
    margin-left: 10px; 
}
.hidden-text {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    margin-top: -30px; 
    margin-left: 10px; 
    box-shadow: 0 0 10px rgba(250, 2, 2, 0.89);
    border-radius: 25px;
}





