{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/crear.css' %}">
        <link rel="stylesheet" href="{% static 'css/Gestion_usuarios.css' %}">
        <link rel="stylesheet" href="{% static 'css/navasi.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
          .aviso {
            position: fixed;
            top: 7.5cm; /* 5 cm más abajo */
            margin-left: 14cm; /* 4 cm a la derecha */
            background-color: #3393B7;
            color: #FFFFFF;
            padding: 50px;
            border-radius: 30px;
            z-index: 9999;
            font-size: 20px;
            font-family: Arial, sans-serif;
        }
      </style>     
    </head>
    <body>
      <div class="vertical-bar">
          <div class="sidebar">
              <ul class="sidebar-nav">
                  <li class="nav-item"><a href="{% url 'crud:select' %}"><div class="icon-on-top"><i class="fas fa-home"></i></div><span>Inicio</span></a></li>
                  <li class="nav-item"><a href="{% url 'crud:mapa_general' %}"><div class="icon-on-top"><i class="fas fa-map"></i></div><span>Mapa</span></a></li>
                  <li class="nav-item"><a href="#"><div class="icon-on-top"><i class="fas fa-chart-bar"></i></div><span>Gráficas</span></a></li>
                  <li class="nav-item"><a href="{% url 'crud:index' %}"><div class="icon-on-top"><i class="bi bi-kanban"></i></div><span>Gestión</span></a></li>
                  <li class="nav-item"><a href="{% url 'eva:comuni' %}"><div class="icon-on-top"><i class="fas fa-users"></i></div><span>Comunidad</span></a></li>
                  
              </ul>
          </div>
      </div>
      
      <nav class="navbar">
          <div class="navbar-left">
              <span class="hidro-tech">HidroTech</span>
          </div>
          <div class="navbar-center">
              <div class="admin-box">Vista Administrador</div>
          </div>
          <a href="{% url 'crud:listauser' %}" class="volverr">Volver</a>
          <a href="{% url 'nucleo:logout' %}" class="cerrar-sesion">Cerrar Sesión</a>
      </nav>

    <div class="vertientes-container">
            <div class="center-div">
              <div class="card-header">
              <h3 class="card-title">Editar Habitante</h3>
              </div>
              
              <form method="post" onsubmit="return enviarFormulario();">
              <div class="card-body">
              <div class="form-group">
                
                {{ form.errors }}

              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                <label for="email">{{ field.label }} :</label>
                {{ field }}
              </div>
              {% endfor %}
              </div>
              </div>
              
              <div class="card-footer">
                <button type="submit" onclick="mostrarMensaje()" class="btn btn-success">Editar</button>
                <a href="{% url 'crud:listauser' %}" class="button">
                  <button type="button" class="btn btn-danger">Cancelar</button>  
                </a>
              </div>
              </form>
              </div>

              <script>


              function mostrarMensaje() {
                var mensaje = document.createElement("div");
                mensaje.className = "aviso";
                mensaje.innerText = "Se han guardado correctamente los cambios";
                document.body.appendChild(mensaje);
            
                // Redirigir a la vista 'crud:listcom' después de mostrar el mensaje
                setTimeout(function() {
                    window.location.href = "{% url 'crud:listcom' %}";
                }, 2000); // 3000 milisegundos = 3 segundos
            }
            function enviarFormulario() {
              mostrarMensaje();
              setTimeout(function() {
                document.forms[0].submit(); // Envía el formulario después de mostrar el mensaje durante 10 segundos
              }, 2000); // 10000 milisegundos = 10 segundos
              return false; // Previene la recarga automática de la página
            }
    
      
  </script>
    </body>
</html>