



<html>
    <head>
      <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    </head>
    <style>
      .center-div {
        width: 900px; /* Ajusta el ancho según tus necesidades */
        margin: 0 auto; /* Establece margen automático en los lados */
        background-color: rgb(211, 211, 211);
      }
      </style>
    <body>
dssssssssssssss


    </body>
</html>